<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CodeCoolLibrary</title>
</head>
<body>

<div>Add stuff to the database here:</div>
<form action="/admin/add" method="POST">
    <select name="type">
        <option value="book">Book</option>
        <option value="author">Author</option>
        <option value="bookInstance">Book Instance</option>
        <option value="language">Language</option>
        <option value="place">Place</option>
        <option value="publisher">Publisher</option>
    </select>
    <input name="title" placeholder="Name/Title">

    <button type="submit">Add</button>
</form>

</body>
</html>