<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CodeCoolLibrary</title>

    <script defer src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <link rel=stylesheet href="static/common.css"/>
    <link rel=stylesheet href="static/admin.css"/>

    <script defer src="static/js/admin.js"></script>
</head>
<body>
    <div th:text="${username}?'Logged in as '+${username}:''"></div>

    <div>Add items to the database here:</div>
    <form action="/books" method="POST">
        <select title="Type" required name="type">
            <option value="book">Book</option>
            <option value="author">Author</option>
            <option value="bookInstance">Book Instance</option>
            <option value="language">Language</option>
            <option value="place">Place</option>
            <option value="publisher">Publisher</option>
        </select>
        <input required type="text" name="title" placeholder="Name/Title">
        <input required type="text" name="location" placeholder="Location of creation">
        <select name="language" required>
            <option th:each="language : ${languages}" th:text="${language}">
                Language
            </option>
        </select>
        <input required type="number" name="publicationYear" placeholder="Year of first publication">

        <button type="submit">Add</button>
    </form>

    <table>
        <thead></thead>
        <tbody>
            <tr>
                <td>
                    <div id="sidebar">
                        <div th:each="category : ${categories}" th:text="${category}"
                             th:id="${category}" th:class="model-button"
                             th:data-url="'/'+${#strings.toLowerCase(category)}+'s'"></div>
                    </div>
                </td>
                <td>
                    <div id="content">
                        hellóbelló
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>