<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CodeCoolLibrary</title>
</head>
<body>

<div>Add stuff to the database here:</div>
<form action="/admin/add" method="POST">
    <!--
    We should get the names of the input field from the server, by reflection
    also, the parameters themselves should change (using JS) depending on which object type is selected.

    Then, when receiving the post request, we'll have to check once again, that the form parameters all have valid names.
    -->
    <select title="Type" required name="type">
        <option value="book">Book</option>
        <option value="author">Author</option>
        <option value="bookInstance">Book Instance</option>
        <option value="language">Language</option>
        <option value="place">Place</option>
        <option value="publisher">Publisher</option>
    </select>
    <input required type="text" name="title" placeholder="Name/Title">
    <input required type="text" name="location" placeholder="Location of creation">
    <input required type="text" name="language" placeholder="Language">
    <input required type="number" name="publicationYear" placeholder="Year of first publication">

    <button type="submit">Add</button>
</form>

</body>
</html>