#sidebar {
    margin-left: 25px;
    margin-right: 10px;
    float: left;
    width: 150px;
    height: 100vh;
    background: #f0f0f0;
}

.model-button {
    background: #e9e9e9;
    padding: 5px;
    text-align: center;
    min-width: 115px;
}

.model-button:hover {
    background: #d6d6d6;
    cursor: pointer;
}

div#add-row {
    min-height: 50px;
}

#home-button {
    background: #e9e9e9;
    padding: 5px;
    text-align: center;
    min-width: 115px;
    text-decoration: none;
    display: block;
}

#home-button:hover {
    background: #d6d6d6;
    cursor: pointer;
}