#sidebar {
    margin-right: 10px;
    float: left;
    min-width: 150px;
    max-width: 150px;
    min-height: 100vh;
    color: white;
    background-color: #212529;
}

.basemodel-button {
    background: #212529;
    padding: 5px;
    text-align: center;
    min-width: 115px;
}

.basemodel-button:hover {
    background: #2e78fe;
    cursor: pointer;
}

div#add-row {
    min-height: 50px;
}

#home-button {
    background: #212529;
    padding: 5px;
    color: white;
    text-align: center;
    min-width: 115px;
    text-decoration: none;
    display: block;
}

#home-button:hover {
    background: #2e78fe;
    cursor: pointer;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: left;
}