body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
}

th {
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
}

div#content th {
    cursor: pointer;
}

div#content tr {
    background: #f3f3f3;
    margin: 0;
}

div#content tr:hover {
    background: #d6d6d6;
}

div#content td:hover {
    box-shadow: 2px 3px 7px 0 black;
}

#button {
    cursor: pointer;
    text-align: center;
    padding: 4px 20px;
    border-radius: 4px;
}

td .button {
    cursor: pointer;
}

.width {
    width: 200px;
}