.container {
    margin-top: 80px;
}

#max-results {
    width: 80px;

}

#search-term {
    width: 200px;
}

#max-results-label {
    color: #000000;
    font-size: 10px;
}

.nav-item {
    margin-right: 10px;
}

.page-item {
    user-select: none;
}

.pagination {
    width: fit-content;
    margin: 0 auto;
}

