<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="publisher-list">
    <div class="search-result-container">
        <h3>Found Publishers</h3>
        <p th:if="${publishers.size() < 1}">No results for this search term...</p>
    <ul class="search-result-list publisher-list">
        <li class="publisher" th:each="publisher: ${publishers}" th:text="${publisher.name}">
        </li>
    </ul>
    <span th:replace="/components/pagination.html :: pagination(${pageTotalCount},${pageIndex})"></span>
    </div>
</div>
</body>
</html>